{{ define "404" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/tmp/Notes | 404 Poi Not Found</title>
    <link rel="stylesheet" media="all" href="/css/pure-min.css">
    <link rel="stylesheet" media="all" href="/css/marketing.css">
    <link rel="stylesheet" media="all" href="/css/style.css">
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">/tmp/notes</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/poi/" class="pure-menu-link">ポイする</a></li>
            <li class="pure-menu-item">
                <a href="https://github.com/fuwalab/notes" class="pure-menu-link github" target="_blank">
                    <img src="/images/GitHub-Mark-Light-64px.png" alt="Github" width="32">
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="pure-g">
        <div class="error">
            404
        </div>
        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            <p>Poi<br>Not<br>Found.</p>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <div class="footer l-box is-center">
        &copy; 2018 fuwalab. All Rights Reserved.
    </div>
</div>
</body>
</html>{{ end }}
