{{ define "index" }}
<div class="content">
    <h2 class="content-head is-center">Notesとは</h2>

    <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <h3 class="content-subhead">
                <i class="fa fa-check-square-o"></i>
                サービス概要
            </h3>
            <p>
                しっかり記録するほどでもない「ちょっとだけメモを取っておきたい」をカタチにする、ウェブ投稿型のメモ帳サービスです。<br>
                メモの閲覧可能期間は1週間。投稿から1週間が経過すると自動的に削除されます。

            </p>
            <h3 class="content-subhead">
                <i class="fa fa-check-square-o"></i>
                ご利用にあたって
            </h3>
            <p>Notes（以下、本サービス）をご利用になられる方（以下、利用者）は、以下の項目に同意したものとみなします。</p>
            <ol>
                <li>利用者は住所、氏名、学校、電話番号等、個人を特定し得る情報を投稿しないこと</li>
                <li>利用者は公序良俗に反する内容を投稿しないこと</li>
                <li>本サービス運営者は予告なく利用者の投稿を削除できること</li>
            </ol>
        </div>
    </div>
</div>

<div class="content">
    <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            <h4>お問い合わせ</h4>
            <p>
                サービスへのお問い合わせ、違反通報などは<a href="https://twitter.com/notesofficial1" target="_blank">公式ツイッター</a>よりお願い致します。
            </p>
        </div>
    </div>

</div>
{{ end }}
