{{ define "layout" }}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    {{ if or (eq .Page "poi_detail") (eq .Page "tag") }}<meta name="robots" content="noindex">{{ end }}
    {{ if and (ne .Page "poi_detail") (ne .Page "tag") }}
    <meta name="keywords" content="{{ .HeaderInfo.Keywords }}">
    <meta name="description" content="{{ .HeaderInfo.Description }}">

    <meta property="og:title" content="{{ .HeaderInfo.Title }}">
    <meta property="og:url" content="{{ .URL }}">
    <meta property="og:site_name" content="photo.pics"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ .HeaderInfo.Description }}">
    <meta property="og:image" content="{{ .BaseURL }}/images/thumb.png">

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@"/>
    <meta name="twitter:creator" content="@"/>
    <meta name="twitter:title" content="{{ .HeaderInfo.Title }}">
    <meta name="twitter:description" content="{{ .HeaderInfo.Description }}">
    <meta name="twitter:image" content="{{ .BaseURL }}/images/thumb.png">
    {{ end }}
    <title>{{ .HeaderInfo.Title }}</title>
    <link rel="stylesheet" media="all" href="/css/pure-min.css">
    <link rel="stylesheet" media="all" href="/css/marketing.css">
    <link rel="stylesheet" media="all" href="/css/style.css">
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">[/tmp/notes] ポイメモ</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/poi/" class="pure-menu-link">ポイする</a></li>
            <li class="pure-menu-item"><a href="/tag/" class="pure-menu-link">タグ</a></li>
            <li class="pure-menu-item">
                <a href="https://github.com/fuwalab/notes" class="pure-menu-link github" target="_blank">
                    <img src="/images/GitHub-Mark-Light-64px.png" alt="Github" width="32">
                </a>
            </li>
        </ul>
    </div>
</div>
{{ if eq .Page "index" }}
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">ちょいメモ、始めよう</h1>
        <p class="splash-subhead">
            しっかり残すほどでもないけど、ちょっとだけ必要なことをメモしよう<br>
            よかったことを共有したり、ちょっとしたモヤモヤをはき出してみるのもあり！<br>
            使い方はアナタ次第
        </p>
        <p>
            <a href="/poi/" class="pure-button pure-button-primary">ポイする</a>
        </p>
    </div>
</div>
{{ end }}
{{ if eq .Page "poi" }}
    <div class="content">
        <div class="splash poi-form">
            <form class="pure-form" method="post" action="/poi/">
                <fieldset class="pure-group">
                    <input type="text" class="pure-input-1" placeholder="タイトル" name="title">
                </fieldset>
                <fieldset class="pure-group">
                    <textarea class="pure-input-1" placeholder="メモを入力してください（必須項目）" name="content"></textarea>
                </fieldset>
                <fieldset class="pure-group">
                    <input type="text" class="pure-input-1" placeholder="タグ" name="tag">
                    <small>（※できるだけ重複しない言葉を指定すると、自分だけのタグになります）</small>
                </fieldset>
                <input type="hidden" name="csrftoken" value="{{ .CSRFToken }}">
                <button type="submit" class="pure-button button-secondary">ポイする</button>
            </form>
        </div>
    </div>
{{ end }}
{{ if eq .Page "poi_detail" }}
    <div class="content white">
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                {{ $note := index .Notes 0}}
                <ul>
                    <li>
                        <h2>{{ if $note.Title }}{{ $note.Title }}{{ else }}タイトルなし{{ end }}</h2>
                    </li>
                    <li>
                        <a href="http://line.me/R/msg/text/?{{ .URL }}" target="_blank">
                            <img src="/images/line120.png" alt="LINE でシェアする" width="30">
                        </a>
                    </li>
                    <li>
                        <small>
                            表示期間：{{ $note.CreatedAt | date }}〜{{ $note.ExpireAt | date }}
                        </small>
                    </li>
                    <li>
                        <p>{{ $note.Content | nl2br }}</p>
                    </li>
                    {{ if $note.Tag }}
                    <li>
                        <p><a href="/tag/{{ $note.Tag }}">{{ $note.Tag }}</a></p>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
{{ end }}
{{ if eq .Page "tag" }}
<div class="content white">
    <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            <h4>タグ</h4>
            <p>タグの便利な使い方</p>
            <ol>
                <li>自分だけのタグを設定すると、自分のメモリストを作れます(※1)<br>タグのURLをブックマークなどに登録すると便利です</li>
                <li>みんなと重複しそうなタグを設定すると、他の人のメモが見られるかもしれません</li>
            </ol>
            <small>※1. 他の利用者のタグと重複する可能性がありますのでご留意ください</small>
        </div>

        <div class="tag-form">
            <form class="pure-form" method="post" action="/tag/">
                <fieldset class="pure-group">
                    <input type="text" class="pure-input-1" placeholder="タグ" name="tag" value="{{ .Tag }}">
                </fieldset>
                <input type="hidden" name="csrftoken" value="{{ .CSRFToken }}">
                <button type="submit" class="pure-button button-secondary">検索</button>
            </form>
        </div>

        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            {{ if .Notes }}
            {{ $n := index .Notes 0 }}
            <h4>{{ $n.Tag }}</h4>
            <ul class="tag-list">
            {{ range $var := .Notes }}
                <li><small>{{ $var.CreatedAt | date }}</small><span><a href="/poi/{{ $var.ID }}">{{ if $var.Title }}{{ $var.Title }}{{ else }}タイトルなし{{ end }}</a></span></li>
            {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
<div class="content-wrapper">
    {{ if eq .Page "index" }}
        {{ template "index" }}
    {{ end }}
    <div class="footer l-box is-center">
        &copy; 2018 fuwalab. All Rights Reserved.
    </div>
</div>
</body>
</html>{{ end }}
